<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../resources/static/css/Blog.css"> <!--for hot loading -->
</head>
<script>
    function hamburgerMenuListener() {
        const toggleButton = document.getElementsByClassName('toggle-button')[0]
        const navLinks = document.getElementsByClassName('navbar-links')[0]
        toggleButton.addEventListener('click', () => {
            navLinks.classList.toggle('active')
        })
    }
    window.onload = () => {
        hamburgerMenuListener();
    }
    console.log("function run")
</script>
<body>
<nav class="navbar">
    <div class="LOGO">
        Andrew Pegg
    </div>
    <a class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="Blog.html">Blog</a></li>
            <li><a href="Home.html">Home</a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="image-background-blur">

    </div>
    <div class="flex-content-container white-Font">
        <div class="construction-text">Page Under Construction</div>
        <div class="construction-text-sub">Sorry For Inconvenience, please check back later</div>
        <a href="Home.html" class="return-button">Back Home</a>
    </div>
</main>
</body>
</html>