<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andrew Pegg</title>
    <script src="https://kit.fontawesome.com/14bd06b854.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.3/dist/boxicons.js"></script>
    <script src="/js/Home.js"></script>
    <link rel="icon" href="/images/fav.png">
    <link rel="icon" href="../../resources/static/images/fav.png">
    <link rel="stylesheet" href="/css/Home.css"> <!--for production-->
    <link rel="stylesheet" href="../../resources/static/css/Home.css"> <!--for hot loading -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header class="header-isolate">
            <nav class="navbar">
                <div class="LOGO">
                    Andrew Pegg
                </div>
                <a  class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="#Projects">Projects</a></li>
                        <li class="contactMe"><a href="#contact">Contact</a></li>
                        <li><a href="Blog.html">Blog</a></li>
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </nav>
        <div class="Banner">
            <div class="banner-Text">
                    <h1>Hi my name is Andrew and I love to code</h1>
                    <h2>I am a NeoVim user, dog lover, Linux enthusiast, and a San Diegan</h2>
            </div>
            <hr class="line-spacer">
            <div class="banner-links">
                    <ul class="list-links">
                        <li> <a href="https://github.com/andrewcomputsci2019"><i class='bx bxl-github font-icon-GitHub'></i></a></li><!--make sure production has images/....-->
                        <li> <a href="https://www.linkedin.com/in/andrew-pegg-07a752211/"><i class='bx bxl-linkedin-square font-icon-linkIn'></i></a></li>
                    </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="about" id="About">
            <h1 class="text-center white-Font about-header-size">About Me</h1>
            <div class="flex-container">
                    <div class="img-container">
                        <img src="/images/Cropped_Image_Me.png" alt="picture of me" class="circle">
                    </div>
                    <div class="text-container white-Font margin-auto text-center">
                            <p style="margin-top: .5rem">I am currently a computer science student at UCSD, expected to get my Bachelors by 2025. My current interest inside programming right now is designing and implementing backend systems on distributed software, mostly microservices. I program mostly in Java and use the Spring framework, although I know other languages such as C, C++, and Python.</p>
                    </div>
            </div>
            <h2 class="white-Font text-center underline about-header-size" style="margin-bottom: 1rem;">Skills</h2>
            <div class="flex-skills">
                <div class="skill-flex-group">
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxl-java font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">Java</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxl-c-plus-plus font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">C & C++</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxl-javascript font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">JS & TS</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxl-python font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">Python</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxs-terminal font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">Shell</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                </div>
                <div class="skill-flex-group">
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxl-spring-boot font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">Spring Boot</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxl-postgresql font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">PSQL</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxl-vuejs font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">VUE.js</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxl-nodejs font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">Node</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                    <div class="skill-group">
                        <div class="skill-section">
                            <div class="flex-skill">
                                <i class='bx bxl-aws font-icon' style='color:#f3efef'></i>
                                <span class="white-Font skill-font-size">AWS</span>
                            </div>
                        </div>
                        <div class="skill-section-splitter"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Projects" id="Projects">
            <h1 class="text-center black-Font underline-alt" style="font-size: 3rem">Projects</h1>
            <div class="project-flex">
                <div class="project-card">
                    <img class="project-image" src="https://i.ytimg.com/vi/Tt1ZOXGZ7Vw/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGEsgWihlMA8=&amp;rs=AOn4CLCyn4IBs5N2bEZW-IyPYhgaom-rlg" alt="image of project">
                    <div class="project-flex-stack">
                        <div class="project-label-section">
                            <span class="black-Font">PathFinderFx</span>
                            <div class="project-links">
                                <i class='clickableLink bx bxl-github link-icon' finallink="https://github.com/andrewcomputsci2019/PathFinderFX" ></i>
                                <i class='clickableLink bx bxl-youtube link-icon' finallink="https://www.youtube.com/watch?v=Tt1ZOXGZ7Vw" style="color: red;"></i>
                            </div>
                        </div>
                        <ul class="project-skill-labels">
                            <li class="black-Font  small-font-size">Java</li>
                            <li class="black-Font  small-font-size">JavaFx</li>
                            <li class="black-Font  small-font-size">Gradle</li>
                        </ul>
                        <p class="project-description black-Font description-font-size">A pathfinding and maze generation algorithm visualizer that helps visualize popular algorithms on a four-way 2D grid. Built with Java and JavaFx 17 and designed with reactive and concurrent programming patterns to help improve GUI fluidity and experience.</p>
                    </div>
                </div>
                <div class="project-card">
                    <img class="project-image" src="https://i.ytimg.com/vi/Tt1ZOXGZ7Vw/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGEsgWihlMA8=&amp;rs=AOn4CLCyn4IBs5N2bEZW-IyPYhgaom-rlg" alt="image of project">
                    <div class="project-flex-stack">
                        <div class="project-label-section">
                            <span class="black-Font">Encryptor</span>
                            <div class="project-links">
                                <i class='clickableLink bx bxl-github link-icon' finallink="https://github.com/andrewcomputsci2019/Encryptor/tree/master"></i>
                                <i class='clickableLink bx bxl-youtube link-icon' finallink="https://www.youtube.com/watch?v=Tt1ZOXGZ7Vw" style="color: red;"></i>
                            </div>
                        </div>
                        <ul class="project-skill-labels">
                            <li class="black-Font  small-font-size">Java</li>
                            <li class="black-Font  small-font-size">JavaFx</li>
                            <li class="black-Font  small-font-size">Gradle</li>
                            <li class="black-Font  small-font-size">JCA & JCE</li>
                        </ul>
                        <p class="project-description black-Font description-font-size">A cross-platform desktop app written in Java and Javafx 17 that allows users to encrypt important files using AES-256, through either private key or password-based encryption methods.</p>
                    </div>
                </div>
                <div class="project-card">
                    <img class="project-image svg-img-aspect" src="/images/icons8-c-programming.svg" alt="image of project">
                    <div class="black-Font">
                        Icon By <a href="https://icons8.com/" style="text-decoration: none;">Icons8</a>
                    </div>
                    <div class="project-flex-stack">
                        <div class="project-label-section flex-responsive">
                            <span class="black-Font">C Smart Pointer library</span>
                            <div class="project-links">
                                <i class='clickableLink bx bxl-github link-icon' finallink="https://github.com/andrewcomputsci2019/C_SmartPointer/tree/master" ></i>
                            </div>
                        </div>
                        <ul class="project-skill-labels">
                            <li class="black-Font  small-font-size">C</li>
                            <li class="black-Font  small-font-size">Cmake</li>
                        </ul>
                        <p class="project-description black-Font description-font-size">A simple cross-platform cmake header only library designed to help elevate memory allocations, and operations in the C programming language through reference counting pointers. The library is designed such that double frees, dangling pointers, and memory leaks become minimized to help prevent dangerous memory-related bugs from occurring in a code base.</p>
                    </div>
                </div>
                <div class="project-card">
                    <img class="project-image svg-img-aspect" src="/images/icons8-spring-boot.svg" alt="image of project">
                    <div class="black-Font">
                        Icon By <a href="https://icons8.com/" style="text-decoration: none;">Icons8</a>
                    </div>
                    <div class="project-flex-stack">
                        <div class="project-label-section flex-responsive-early">
                            <span class="black-Font" style="text-align: center;">Mock Student Information platform</span>
                            <div class="project-links">
                                <i class='clickableLink bx bxl-github link-icon' finallink="https://github.com/mhayescs19/p1-mosaic-spring" ></i>
                            </div>
                        </div>
                        <ul class="project-skill-labels">
                            <li class="black-Font  small-font-size">Java</li>
                            <li class="black-Font  small-font-size">Spring Boot</li>
                            <li class="black-Font  small-font-size">Maven</li>
                            <li class="black-Font  small-font-size">AWS EC2</li>
                            <li class="black-Font  small-font-size">AWS DynamoDB</li>
                            <li class="black-Font  small-font-size">Spring Security</li>
                        </ul>
                        <p class="project-description black-Font description-font-size">A group web application project that allows student to view grades, class schedule, and assignments, and allows Teachers to manage student grades, assignments and attendance. My contributions to this project related to the backend services relating to security, authorization, and user sign up, as well as, CRUD management through DynamoDb queries and api endpoints in Spring.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="Work-Education">
            <div class="Work-Education-grid">
                <div class="education-tile">
                    <span class="black-Font underline-work grid-title">Education</span>
                </div>
                <div class="vertical-spacer"></div>
                <div class="flex-education-info ucsd-info">
                        <div class="major-name">
                            <span class="black-Font">B.S. Computer Science</span>
                        </div>
                    <ul class="uni-info">
                        <li class="black-Font uni-time-list-labels">University of California San Diego</li>
                        <li class="black-Font uni-time-list-labels dot">•</li>
                        <li class="black-Font uni-time-list-labels">2023-2025</li>
                    </ul>
                    <P class="black-Font uni-description">Transferred into UCSD in the 2023 school year with upper division standing and expected to graduate in 2025</P>
                </div>
                <div class="flex-education-info miracosta-info">
                    <div class="major-name">
                        <span class="black-Font">A.S. Computer Science</span>
                    </div>
                    <ul class="uni-info">
                        <li class="black-Font uni-time-list-labels" >MiraCosta Community College</li>
                        <li class="black-Font uni-time-list-labels dot" >•</li>
                        <li class="black-Font uni-time-list-labels" >2021-2023</li>
                    </ul>
                    <P class="black-Font uni-description">Graduated with Honors in 2023 with a GPA of 4.0/4.0. While at my time at MiraCosta I became a tutor at the local Campus STEM Center, and tutored the subjects of mathematics and Computer Science</P>
                </div>
                <div class="horizontal-spacer"></div>
                <div class="work-title">
                    <span class="black-Font underline-work grid-title">Work</span>
                </div>
                <div class="flex-education-info tutor-info">
                    <div class="major-name">
                        <span class="black-Font">Tutor</span>
                    </div>
                    <ul class="uni-info">
                        <li class="black-Font uni-time-list-labels">MiraCosta C.C</li>
                        <li class="black-Font uni-time-list-labels dot">•</li>
                        <li class="black-Font uni-time-list-labels">2022-2023 • 10 months</li>
                    </ul>
                    <P class="black-Font uni-description">Worked as tutor at my STEM Center where I tutored courses ranging from introductory to advance mathematics and computer science. Led interactions with tutees and gave guidance on how to become a more active note taker and studier, as well as, worked with professors to create clear student expectations to help guide feature tutee interactions </P>
                </div>
                <div class="flex-education-info LG-swe-info">
                    <div class="major-name">
                        <span class="black-Font">SWE Intern</span>
                    </div>
                    <ul class="uni-info">
                        <li class="black-Font uni-time-list-labels">LG Electronics</li>
                        <li class="black-Font uni-time-list-labels dot">•</li>
                        <li class="black-Font uni-time-list-labels">2021-2021 • 3 months</li>
                    </ul>
                    <P class="black-Font uni-description"> Led a project to create a modern desktop cross-platform app that could control LG commercial display devices over a network. Used Electron and Node.js to accomplish this through the use of HTML and CSS and the use of native network libraries to discover and communicate with devices through discovery protocols and REST APIs.</P>
                </div>

            </div>
        </div>
        <div class="footer-ender" id="contact">
                <div class="footer-links">
                    <ul>
                        <li><a href="https://www.linkedin.com/in/andrew-pegg-07a752211"><i class='bx bxl-linkedin linkin-icon'  ></i></a></li>
                        <li><a href="https://github.com/andrewcomputsci2019"><i class='bx bxl-github github-icon' ></i></a></li>
                        <li><a href="https://www.instagram.com/andrew_pegg2/"><i class='bx bxl-instagram instagram-icon'></i></a></li>
                        <li><a href="mailto:andrew.m.pegg2@gmail.com"><i class='bx bx-envelope mail-icon'></i></a></li>
                    </ul>
                </div>
        </div>
    </main>
</body>
</html>
